<ion-view view-title="Playlists">
    <ion-content>
        <div class="list envelope-wrapper" collection-repeat="playlist in playlists"
             item-width="50%"
             item-height="200">
            <div class="item envelope" href="{{palylist.id}}">
                <img ng-cache class="full-image" src="img/ionic.png">
                <h3>{{playlist.title}}</h3>
                <p>{{playlist.title}}</p>
            </div>
        </div>
        <ion-infinite-scroll on-infinite="fetch()" distance="25%" ng-if="!end">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
